.learn-png {
    width: 750px;
    height: 500px;
    position: absolute;
    /* object-fit: cover; */
    object-position: right;
    
}

.learn-wraper {
    /* border: solid 15px rgb(255, 255, 255); */
    border-top: 25px solid rgba(55, 239, 125, 0.705);
    /* border-left: 15px solid rgb(117, 248, 167); */
    border-right: 25px solid rgba(55, 239, 125, 0.705);

    border-radius: 300px / 225px;
    width: 590px;
    height: 450px;
    position: relative;
    overflow: hidden;
   

    /* background-image: url('../svg/christina-wocintechchat-com-6.svg');
    background-size: cover;
    background-position: center; */
    transform: rotate(-10deg);
}
