.loved {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nitru-png {
    width: 30%;
    height: 20%;
}

.nutri-right {
    background-color: #C7C4C4;
    /* height: 400px; */
}

.nutri-left {
    z-index: 2;
    margin-right: -70px;

}

.nutri-left div p {
    padding-right: 7rem;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: rgba(129, 129, 129, 0.602);
    margin: 0 2px;
    border-radius: 30px;
}

.dot-color {
    background-color: #6E9AFF;
}

.arrow {
    width: 60%; 
     height: 60%;
}

.arrow-wraper {
    background-color: rgba(199, 196, 196, 0.178);
    padding: 10px;
    border-radius: 100px;
    width: 45%;
} 

/* .minos {
    padding-right: -70px;
} */

