/* .manif {
    display: grid;
    grid-template-columns: 25em auto;
} */

.manif-img {
    z-index: 3;

}

.manif-content{
    background-color: #6E9AFF;
    /* background-image: -webkit-linear-gradient( -28deg, #6E9AFF 0%, #f87f73 60%, #292423 60%, #292423 60%);
    background-image: linear-gradient( 39deg, #6E9AFF 40%, #6E9AFF 90%, #6E9AFF 20%, #292423 0%); */
    color: white;
}


.manif-content div {
     padding-left: 90px;
     padding-right: 60px;
 }

 .manif-content h3 {
    padding-left: 120px;
    padding-right: 60px;
}
.manif-png {
    width: 100%;
    height: 100%;    
}

.lap
{
    height: 370px;
    margin-right: -100px;
    margin-left: 120px;
}

.manif-content div div p {
    font-size: 14px;
    
}